{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
  	<h3>君子之约</h3>
  </div>
  <div>
    <h4>书香馆</h4>
    <ul><li>书香馆是一个P2P的图书借阅项目</li></ul>
    <ul><li>所有的图书都是个人共享，欢迎大家积极贡献自己的藏书</li></ul>
    <br/>
    <h4>关于借书的几点说明</h4>
    <ul><li>一个人同一时间只允许借阅一本图书</li></ul>
    <ul><li>由于涉及到多个办公区,所以你要借阅的图书可能不在你当前的城市,请在借书时确认</li></ul>
    <ul><li>好借好还，再借不难，一本书默认借阅时间为两周，请尽量按时归还</li></ul>
    <ul><li>借书时，请首先和分享人确定</li></ul>
    <ul><li>还书时，也要和分享人确认后再点击还书</li></ul>
    <ul><li>希望你是爱读书之人，但是更重要的是希望你也是爱书之人</li></ul>
    <br/>
    <h4>特别鸣谢</h4>
    <ul><li>感谢豆瓣提供图书api</li></ul>
    <ul><li>部分创意来源于美团图书馆</li></ul>
  </div>
</div>
{% endblock %}
