{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if not messages %}
<div class="jumbotron">
  <h3 class="text-center"><small>钱钟书说借书是恋爱的开始，一借一还就有了两次接触机会，而且自然而然不着痕迹。<span class="text-danger">寻找那本书和你的哪个人吧！</span></small>
  </h3>
</div>
{% endif %}
{% endwith %}

<div class="container">
	<div class="row label-box" >
		<span>&nbsp;&nbsp;<strong>热门标签：</strong></span>
		{% for tag in tag_list %}
		<span class="label label-default">
			<a href="{{url_for('books.tag_books',tag_id=tag.id)}}">{{tag.name}}</a>
		</span>
      	{% endfor %}
      	<a href="{{url_for('books.tags')}}"><small>更多</small></a>
	</div>
	<div class="row">
		<p style="margin-top: 10px;" class="text-muted">&nbsp;&nbsp;<small><span class="text-success">"{{tag.name}}"</span>下共有 {{books.rowcount}} 本书</small></p>
	</div>
    <div class="row">
      {% for a in books %}
      <div class="col-xs-6 col-md-4 col-lg-3">
      	<table>
      		<tr>
	      		<td width="110px;">
			        <a href="/books/{{a.id}}" class="thumbnail">
			          <img data-src="holder.js/100%x180" alt="100%x180" style="height: 158px; width: 108px; display: block;" src="{{a.image}}" data-holder-rendered="true">
			        </a>
			    </td>
		    	<td class="book-info">
		    		<small>
						<p>书名：{{a.title[:10]}}</p>
						<p>豆瓣评分：{{a.rating}}</p>
						<p>作者：{{a.author[:12]}}</p>
						<p>出版社：{{a.publisher[:7]}}</p>
						<p>共享人：{{a.owner_name}}</p>
						<p>当前持有人：{{a.borrow_name}}</p>
					</small>
				</td>
    		</tr>
        </table>
      </div>
      {% endfor %}
      
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

	function go_page(page){
		$("#page_index").val(page);
		$("#book_search").submit();
	}
</script>

{% endblock %}