<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>codeg</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">代码生成器</a>
	    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="/list">下载历史工程</a></li>
		        <li><a href="/help">帮助文档</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/" >新建工程</a></li>
		      </ul>
		      
	      </div>
	  </div><!-- /.container-fluid -->
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-md-8 " >
				<h2 class="pull-left">工程列表</h2>
	    	</div>
    	</div>
		<hr/>
		<table class="table table-bordered table-striped">
			<tr>
				<td>生成时间</td>
				<td>工程名</td>
				<td>生成代码的配置信息</td>
				<td>操作</td>
			</tr>
			{% for p in projects %}
			<tr>
				<td width="10%"> {{ p.create_at }}</td>
				<td width="10%">{{ p.name }}</td>
				<td width="70%"><pre>{{ p.config }}</pre></td>

				<td width="10%"><a class="btn btn-info" href="/download/{{p.id}}">下载</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>